body {
    background-color: #c9c9c9 }


.grande {
	display: block;
  	width: 100%;
  	background-image: url("00010.jpg");
}


.mediano{ 
	display: none;
}

.peque{
	display: none;
}

.image {
  display:block;
  width: 100%;
  margin-bottom: -13px;
}

.espacio{
	margin-bottom: 10px;
}

.box{
	background-color: #f9f9f9;
}

.costadito{
	text-align: justify;
	padding: 15px 15px 15px 15px;
}


@media only screen and (max-width: 720px){

	.grande{
		display: none;
	}

	.mediano{
		display: block;
  		width: 100%;
		background-image: url("00011.jpg");
	}

	.peque{
		display: none;
	}

}

@media only screen and (max-width: 480px){

	.grande{
		display: none;
	}

	.mediano{
		display: none;
	}

	.peque{
		display: block;
  		width: 100%;
		background-image: url("00012.jpg");
	}

}

